h1 {color:chocolate;
  text-decoration: dotted;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

span{
  text-shadow: blueviolet;
  font-size: large;
  font-family: 'Times New Roman', Times, serif;
  color: cadetblue;
}
